<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="tivo admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities."
    />
    <meta name="keywords" content="eArchive" />
    <meta name="author" content="Joel Osei Acquah" />
    <link
      rel="icon"
      href="../assets/images/favicon/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../assets/images/favicon/favicon.png"
      type="image/x-icon"
    />
    <title>Login - xCore eArchive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/font-awesome.css"
    />
    <!-- ico-font-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/icofont.css"
    />
    <!-- Themify icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/themify.css"
    />
    <!-- Flag icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/flag-icon.css"
    />
    <!-- Feather icon-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/feather-icon.css"
    />
    <!-- Bootstrap css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/vendors/bootstrap.css"
    />
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link
      id="color"
      rel="stylesheet"
      href="/assets/css/color-1.css"
      media="screen"
    />
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
  </head>
  <body>
    <!-- login page start-->
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">
          <div class="login-card">
            <div>
              <div>
                <a class="logo" href="index.html"
                  ><img
                    style="margin-left: 5%"
                    class="img-fluid for-light"
                    src="../assets/images/logo/logo.png"
                    alt="looginpage"
                /></a>
              </div>
              <div class="login-main">
                <form class="theme-form">
                  <h4 class="text-center">Sign in to account</h4>
                  <p class="text-center">
                    Enter your email & password to login
                  </p>
                  <div class="form-group">
                    <label for="email" class="col-form-label"
                      >Email Username</label
                    >
                    <input
                      class="form-control"
                      type="name"
                      required
                      id="email"
                      placeholder="user-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-form-label"
                      >Password</label
                    >
                    <div class="form-input position-relative">
                      <input
                        class="form-control"
                        type="password"
                        name="login[password]"
                        required
                        id="password"
                        placeholder="*********"
                      />
                      <div class="show-hide" data-target="password">
                        <span class="show"> </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <div class="checkbox p-0">
                      <input id="checkbox1" type="checkbox" />
                      <label class="text-muted" for="checkbox1"
                        >Remember password</label
                      >
                    </div>
                    <a class="link" href="forget-password.html"
                      >Forgot password?</a
                    >
                    <div class="text-end mt-3">
                      <input
                        type="submit"
                        id="btnSign"
                        value="Sign in"
                        class="btn btn-primary btn-block w-100"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- latest jquery-->
      <script src="../assets/js/jquery-3.6.0.min.js"></script>
      <!-- Bootstrap js-->
      <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
      <!-- feather icon js-->
      <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
      <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>
      <!-- scrollbar js-->
      <!-- Sidebar jquery-->
      <script src="../assets/js/config.js"></script>
      <!-- Template js-->
      <script src="../assets/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        const Toast = Swal.mixin({
          toast: true,
          position: "top-end",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
          },
        });
        window.Toast = Toast;

        function errorAlert(message) {
          Toast.fire({
            icon: "error",
            title: message,
          });
        }

        function successAlert(message) {
          Toast.fire({
            icon: "success",
            title: message,
          });
        }

        $("#btnSign").click((e) => {
          e.preventDefault();

          const user = $("#email").val();
          const password = $("#password").val();

          if (user.trim().length < 1) errorAlert("User/email field required");
          else if (password.trim().length < 1) errorAlert("Password required");
          $.ajax({
            type: "POST",
            url: "/admin/sign-in",
            data: { user, password },
            success: (data) => {
              if (data.statusCode == 404) return errorAlert(data.message);
              else if (data.statusCode == 200) {
                successAlert(data.message);
                setTimeout(() => {
                  location.href = data.route;
                }, 500);
              }
            },
            error: (data) => {
              errorAlert(data.message);
            },
          });
        });
      </script>
    </div>
  </body>
</html>
