<div class="container-fluid">
  <div class="row">
    <!-- Zero Configuration  Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <a href="" class="btn btn-primary">Add client</a>
        </div>
        <div class="card-body">
          <div class="table-responsive theme-scrollbar">
            <table class="display" id="basic-1">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                  <td>
                    <ul class="action">
                      <li class="edit">
                        <a href="#"><i class="icon-pencil-alt"></i></a>
                      </li>
                      <li class="delete">
                        <a href="#"><i class="icon-trash"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>

                <tr>
                  <td>Garrett Winters</td>
                  <td>Accountant</td>
                  <td>Tokyo</td>
                  <td>63</td>
                  <td>2011/07/25</td>
                  <td>$170,750</td>
                  <td>
                    <ul class="action">
                      <li class="edit">
                        <a href="#"><i class="icon-pencil-alt"></i></a>
                      </li>
                      <li class="delete">
                        <a href="#"><i class="icon-trash"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Zero Configuration  Ends-->
  </div>
</div>

<%- contentFor("customJS") %>
<script>
  $("#basic-1").DataTable();
</script>
