<!-- Bootstrap Modal -->
<div class="modal fade" id="upgradeModal" tabindex="-1" aria-labelledby="upgradeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="upgradeModalLabel">Upgrade Your Plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Upgrade to an advanced plan to unlock this feature and more!</p>
      </div>
      <div class="modal-footer row d-flex justify-content-between">
        <button type="button" class="btn btn-secondary col-5" id="cancelUpgrade" data-bs-dismiss="modal">Upload existing file</button>
        <button type="button" class="btn btn-primary col-5" id="upgradeButton">Upgrade</button>
      </div>
      
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $("#upgradeButton").click(function() {
      alert("Upgrade button clicked!");
    });
  
    
    $("#cancelUpgrade").click((event)=>{
      event.preventDefault();
      window.location.href = "scanFiles";
    })
  });
</script>
